<div *ngFor="let user of users" class="w-full h-[78vh] items-center flex">
<div class="w-full flex justify-center items-center">
  <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
    <div class="flex flex-col items-center p-10">
        <img class="w-24 h-24 mb-3 rounded-full shadow-lg" [src]="user.avatar" alt="Bonnie image"/>
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{user.name}}</h5>
        <span class="text-sm text-gray-500 dark:text-gray-400">Username : {{user.username}}</span>
        <span class="text-sm text-gray-500 dark:text-gray-400">Email : {{user.email}}</span>
    </div>
  </div>

</div>

</div>
