<!-- <section>
  <h1 class="text-2xl">Testing</h1>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td style="color: black; text-align: center;">{{ user.id }}</td>
          <td>
            <div class="user-container">
              <img [src]="user.avatar" alt="Avatar">
              <div class="user">
                <h4 style="color: rgb(31, 31, 31);">{{ user.name }}</h4>
                <h4 style="color: gray;">{{ user.createdAt }}</h4>
              </div>
            </div>
          </td>
          <td><button>View Detail</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</section> -->





<div class="relative overflow-x-auto shadow-md sm:rounded-lg max-h-[600px] overflow-y-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 items-center ">
      <thead class="text-xs text-gray-700 uppercase bg-blue-300 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Id
              </th>
              <th scope="col" class="px-6 py-3">
                  Name
              </th>
          </tr>
      </thead>
      <tbody>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" *ngFor="let user of users">
              <td class="font-semibold text-center w-3">{{user.id}}</td>
              <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                  <img class="w-10 h-10 rounded-full" [src]="user.avatar" alt="User image">
                  <div class="ps-3">
                      <div class="text-base font-semibold">{{user.name}}</div>
                      <div class="font-normal text-gray-500">{{ user.createdAt }}</div>
                  </div>
              </th>
          </tr>
      </tbody>
  </table>
</div>

